<div id="<%= dom_id division %>">
  <p>
    <strong>Name:</strong>
    <%= division.name %>
  </p>

  <p>
    <strong>Describtion:</strong>
    <%= division.describtion %>
  </p>

  <p>
    <strong>Teams:</strong>
    <%= division.teams %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= division.manager %>
  </p>

</div>
